<button type="button" class="btn mr-2" [ngbTooltip]="tiptext" placement="left" [autoClose]="true" triggers="manual" #tl="ngbTooltip" (click)="tl.open()">
  left
</button>
<button type="button" class="btn mr-2" [ngbTooltip]="tiptext" [autoClose]="true" triggers="manual" #tp="ngbTooltip" (click)="tp.open()">
  Top
</button>
<button type="button" class="btn mr-2" placement="bottom" [ngbTooltip]="tiptext" [autoClose]="true" triggers="manual" #tb="ngbTooltip" (click)="tb.open()">
  Bottom
</button>
<button type="button" class="btn mr-2" placement="right" [ngbTooltip]="tiptext" [autoClose]="true" triggers="manual" #tr="ngbTooltip" (click)="tr.open()">
  Right
</button>