<div class="container bg-light shadow-sm mt-4 p-4">
    <h2>places</h2>
    <div class="grid">
        <div class="grid-item" *ngFor=" let item of places">
            <img alt="" [src]="item.url">
        </div>
    </div>
</div>


<div class="container bg-light shadow-sm mt-4 p-4">
    <h2>items</h2>
    <div class="grid">
        <div class="grid-item" *ngFor=" let item of abstract">
            <img alt="" [src]="item.url">
        </div>
    </div>
</div>

<!-- <div class="container bg-light shadow-sm mt-4 p-4">
    <h2>faces</h2>
    <div class="grid">
        <div class="grid-item" *ngFor=" let item of avatars">
            <img alt="" [src]="item.url">
        </div>
    </div>
</div> -->