<h4 class="mt-4">Sandbox</h4>
<p>In development, placehoder images, utility classes, etc.</p>
<hr>

<div class="grid-wrap">
    <h2>places</h2>
    <div class="grid">
        <div class="grid-item" *ngFor=" let item of places">
            <img alt="" [src]="item.url">
        </div>
    </div>
</div>
<div class="grid-wrap">
    <h2>faces</h2>
    <div class="grid">
        <div class="grid-item" *ngFor=" let item of avatars">
            <img alt="" [src]="item.url">
        </div>
    </div>
</div>

<div class="grid-wrap">
    <h2>items</h2>
    <div class="grid">
        <div class="grid-item" *ngFor=" let item of abstract">
            <img alt="" [src]="item.url">
        </div>
    </div>
</div>