h1,
h4 {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

h1 {
    font-weight: 900;
    font-size: 150px;
    top: -65px;
    position: absolute;
    color: red;
    opacity: .05;
}

h4 {
    color: red;
}

.wrap {
    background-color: rgb(253, 213, 213);
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}