<style>
    table th {
        border-top: none
    }
</style>
<div class="container">
    <h4>App Home</h4>
    <div class="container bg-light shadow mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Forcast</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">Trend</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Sony</th>
                    <td>+20.33</td>
                    <td>-2.34</td>
                    <td>+33.95</td>
                </tr>
                <tr>
                    <th scope="row">Apple</th>
                    <td>+33.95</td>
                    <td>-2.34</td>
                    <td>+20.33</td>
                </tr>
                <tr>
                    <th scope="row">Nvidia</th>
                    <td>+20.33</td>
                    <td>+33.95</td>
                    <td>-2.34</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>