<style>
    table th {
        border-top: none
    }
    
    .container.bg-light.shadow-sm.mt-4 {
        border: 1px solid #ddd;
    }
</style>
<div class="container">
    <h4>Modal Component</h4>
    <p>Initial component for modals using bootstrap. In progress.</p>
    <app-ui-modal title="The Modal Title">
        <h1>Hello Modal</h1>
        <p>This is the message inside the modal component</p>
    </app-ui-modal>
    <!--  -->
    <sandbox></sandbox>
    <app-bootstrap-ref></app-bootstrap-ref>
</div>