<style>
    input,
    input:focus,
    .input-group-prepend .input-group-text {
        background: #ebebeb;
        border: none;
    }
    
    .input-group,
    input {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        outline: none;
        /* MAGIC NUMBER */
        height: 45px;
    }
    
    .form-control {
        border-left: none;
    }
    
    .input-group-prepend .input-group-text {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-right: none;
    }
    
    label {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #555;
        margin-left: 3px;
    }
</style>

<label *ngIf="label" class="label-text">{{label}}</label>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-search"></i>
        </span>
    </div>
    <input type="text" [placeholder]="placeholder" class="form-control">
</div>