<style>
    h4 {
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        line-height: 1em;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 0;
        color: #004AA7;
    }
    
    p {
        margin: 0;
        color: #555;
        font-size: 16px;
    }
    
    hr {
        margin-top: .5em;
        margin-bottom: 2em;
    }
</style>
<div class="mb-4 mt-5">
    <h4>{{title}}</h4>
    <p>{{subtitle}}</p>
    <hr>
</div>