<div class="stack gap-20">
    <div>
        <h4>Default</h4>
        <div class="stack-row">
            <div class="stack">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn">Secondary</button>
            </div>
            <div class="stack">
                <button type="button" class="btn btn-primary" disabled>Primary</button>
                <button type="button" class="btn" disabled>Secondary</button>
            </div>
        </div>
    </div>
    <div>
        <h4>Icons</h4>
        <div class="row">
            <div class="col-lg-4">
                <div class="stack">
                    <button type="button" class="btn icon">
            <span>Learn More</span>
            <i class="fa fa-angle-right"></i>
          </button>
                    <button type="button" class="btn icon">
            <span>Settings</span>
            <i class="fa fa-cog"></i>
          </button>
                    <button type="button" class="btn icon">
            <i class="fa fa-map-marker"></i>
            <span>Locations</span>
            <i class="fa fa-angle-right"></i>
          </button>

                    <button type="button" class="btn icon">
            <i class="fa fa-calendar"></i>
            <span>Schedule</span>
            <i class="fa fa-angle-down"></i>
          </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="stack">
                    <button type="button" class="btn icon split">
            <span>Learn More</span>
            <i class="fa fa-angle-right"></i>
          </button>

                    <button type="button" class="btn icon split">
            <span>Settings</span>
            <i class="fa fa-cog"></i>
          </button>
                    <button type="button" class="btn icon split">
            <div>
              <i class="fa fa-map-marker"></i>
              <span>Locations</span>
            </div>
            <i class="fa fa-chevron-right"></i>
          </button>

                    <button type="button" class="btn icon split">
            <div>
              <i class="fa fa-calendar"></i>
              <span>Schedule</span>
            </div>
            <i class="fa fa-angle-down"></i>
          </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h4>Sizes</h4>
        <div class="stack-row">
            <button type="button" class="btn btn-lg">Button</button>
            <button type="button" class="btn">Button</button>
            <button type="button" class="btn btn-sm">Button</button>
        </div>
        <div class="stack-row mt-10">
            <button type="button" class="btn btn-primary btn-lg">Button</button>
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary btn-sm">Button</button>
        </div>
    </div>
</div>