<style>

</style>
<h4>Primary</h4>
<div class="stack-row gap-10">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-primary" disabled>Primary</button>
</div>

<h4>Secondary</h4>
<div class="stack-row gap-10">
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-secondary" disabled>Secondary</button>
</div>

<h4>Sizes</h4>
<div class="stack-row gap-10">
    <button type="button" class="btn btn-secondary btn-lg">Secondary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-secondary btn-sm">Secondary</button>
</div>