<style>

</style>
<h4>Primary</h4>
<div class="stack-row gap-10">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-primary" disabled>Primary</button>
</div>

<h4>Icons</h4>
<div class="stack-row gap-10">
    <button type="button" class="btn btn-primary">
        Learn More
        <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" class="btn btn-primary" disabled>
        Learn More
        <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary" disabled>
        Settings
        <i class="fa fa-cog"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary" disabled>
        <i class="fa fa-calendar"></i>
        Schedule Event
    </button>
</div>

<h4>Secondary</h4>
<div class="stack-row gap-10">
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-secondary" disabled>Secondary</button>
</div>

<h4>Outline</h4>
<div class="stack-row gap-10">
    <button type="button" class="btn btn-outline-primary">Secondary</button>
    <button type="button" class="btn btn-outline-primary" disabled>Secondary</button>
</div>

<div class="stack-row gap-10">
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-secondary" disabled>Secondary</button>
</div>

<h4>Sizes</h4>
<div class="stack-row gap-10">
    <button type="button" class="btn btn-secondary btn-lg">Secondary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-secondary btn-sm">Secondary</button>
</div>