<style>
    img {
        width: 100%
    }
    
    h2 {
        margin: 0;
        padding: 0;
        line-height: 2.4rem;
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .grid-wrap {
        padding: 0 20px 20px 20px;
        background-color: rgba(229, 223, 199, 0.519);
        margin-bottom: 20px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
    }
    
    .grid-item {
        height: 200px;
    }
    
    .grid-item img {
        object-fit: cover;
        width: 100%;
        height: 100%
    }
</style>
<div class="container">
    <h4>Sandbox</h4>
    <div class="grid-wrap">
        <h2>places</h2>
        <div class="grid">
            <div class="grid-item" *ngFor=" let item of mockdata.places">
                <img alt="" [src]="item.url">
            </div>
        </div>
    </div>
    <div class="grid-wrap">
        <h2>faces</h2>
        <div class="grid">
            <div class="grid-item" *ngFor=" let item of mockdata.faces">
                <img alt="" [src]="item.url">
            </div>
        </div>
    </div>

    <div class="grid-wrap">
        <h2>items</h2>
        <div class="grid">
            <div class="grid-item" *ngFor=" let item of mockdata.items">
                <img alt="" [src]="item.url">
            </div>
        </div>
    </div>
</div>