.label,
label {
    //styleName: Headers/h6;
    font-family: Inter;
    font-size: 14px;
    line-height: 1em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: $gray-80;
    &.form-label {
        color: $primary-color;
    }
}

p.label {
    font-family: "Inter";
    margin-bottom: 14px;
}

input[type="text"] {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    padding: 12px 16px;
    color: $gray-100;
    border-radius: $radius;
    height: auto;
    margin-bottom: 5px;
}

.form-text {
    font-family: Roboto;
    font-size: 12.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: $gray-90 !important;
}

.form-control {
    border-radius: $radius;
}