body {
    font-family: "Roboto";
    background-color: hsl(0, 0%, 98%) !important;
}

a:link,
a:visited,
a:hover {
    color: $primary-color-link;
}

input {
    &:focus {
        outline: none !important;
        border: none !important;
    }
}

textarea {
    &:focus {
        outline: none !important;
    }
}

.border-box {
    margin-right: 0;
    margin-left: 0;
    border: 1px solid $gray-30;
    border-radius: $radius;
    min-height: 100px;
}

.card {
    box-shadow: $shadow;
    border-radius: 6px;
}

.card-body {
    background-color: white;
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.split {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

//Dropdown
.dropdown-menu {
    box-shadow: $shadow;
}

// INPUT BUTTONS
.input-group.button {
    .form-control {
        border-right: none;
    }
    .form-control.with-icon {
        border-left: none;
    }
    .input-group-prepend .input-group-text {
        border-right: none;
        background-color: rgba(0, 0, 0, 0);
    }
    .input-group-append .input-group-text {
        border-left: none;
        background-color: rgba(0, 0, 0, 0);
    }
    input[type="button"] {
        outline: none;
        pointer-events: none;
    }
}

ngb-tooltip-window {
    .tooltip-inner {
        font-family: "Open Sans";
        background-color: $color-dark-blue;
        color: $color-off-white;
        line-height: 1.3em;
        padding: 11px 10px 13px 16px;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }
    &.bs-tooltip-top .arrow::before {
        border-top-color: $color-dark-blue !important;
    }
    &.bs-tooltip-left .arrow::before {
        border-left-color: $color-dark-blue !important;
    }
    &.bs-tooltip-right .arrow::before {
        border-right-color: $color-dark-blue !important;
    }
    &.bs-tooltip-bottom .arrow::before {
        border-bottom-color: $color-dark-blue !important;
    }
}