$logo-size: 27px;
$nav-height: 75px;
$sidebar-width: $nav-height;
div.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.layout {
    display: flex;
    flex: 1;
    .sidebar {
        background: $primary-color-dark;
        min-width: $sidebar-width;
    }
    .main {
        padding: 34px;
        max-width: 1300px;
        margin: 0 auto;
    }
}

.nav-wrap {
    background: $white;
    margin-bottom: 0px;
    height: $nav-height;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    padding: 0 $logo-size;
    a {
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: $color-dark-blue;
        text-decoration: none;
        font-family: "Open Sans";
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
    }
    img {
        height: $logo-size;
        width: auto;
    }
}