<style>
    .grid {
        display: flex;
        flex-wrap: wrap;
    }
    
    i {
        flex: 1;
    }
</style>

<div>
    <h4>Default</h4>
    <div class="grid">
        <i class="ri-calendar-2-line ri-2x"></i>
        <i class="ri-calendar-fill ri-2x"></i>
        <i class="ri-settings-5-fill ri-2x"></i>
        <i class="ri-notification-3-fill ri-2x"></i>
        <i class="ri-calendar-fill ri-2x"></i>
        <i class="ri-pencil-fill ri-2x"></i>
        <i class="ri-pencil-line ri-2x"></i>
        <i class="ri-edit-2-fill ri-2x"></i>
        <i class="ri-edit-2-line ri-2x"></i>
        <i class="ri-layout-grid-line ri-2x"></i>
        <i class="ri-group-fill ri-2x"></i>
        <i class="ri-chat-3-fill ri-2x"></i>
        <i class="ri-hashtag ri-2x"></i>
        <i class="ri-delete-bin-7-line ri-2x"></i>
        <i class="ri-delete-bin-7-fill ri-2x"></i>
        <i class="ri-checkbox-blank-circle-line ri-2x"></i>
        <i class="ri-checkbox-circle-line ri-2x"></i>
        <i class="ri-checkbox-blank-circle-fill ri-2x"></i>
        <i class="ri-checkbox-circle-fill ri-2x"></i>
        <i class="ri-checkbox-blank-line ri-2x"></i>
        <i class="ri-checkbox-line ri-2x"></i>
        <i class="ri-arrow-up-s-line ri-2x"></i>
        <i class="ri-arrow-down-s-line ri-2x" ri-2x></i>
        <i class="ri-arrow-right-s-line ri-2x"></i>
        <i class="ri-arrow-left-s-line ri-2x"></i>
        <i class="ri-anchor-line ri-2x"></i>
        <i class="ri-thumb-up-line ri-2x"></i>
        <i class="ri-bookmark-line ri-2x"></i>
        <i class="ri-close-line ri-2x"></i>
        <i class="ri-close-circle-line ri-2x"></i>
        <i class="ri-close-circle-fill ri-2x"></i>
        <i class="ri-more-fill ri-2x"></i>
        <i class="ri-eye-line ri-2x"></i>
        <i class="ri-eye-off-line ri-2x"></i>
        <i class="ri-add-line ri-2x"></i>
        <i class="ri-add-box-fill ri-2x"></i>
        <i class="ri-add-box-line ri-2x"></i>
        <i class="ri-add-circle-fill ri-2x"></i>
        <i class="ri-add-circle-line ri-2x"></i>
        <i class="ri-alert-line ri-2x"></i>
        <i class="ri-alert-fill ri-2x"></i>
    </div>
</div>