<div class="row mt-4">
    <div class="col-lg-8">
        <app-ui-card>
            <h2 class="card-title">New Content</h2>
            <ckeditor [editor]="Editor" [data]="content" (change)="onChange($event)"></ckeditor>
            <div class="d-flex flex-row-reverse">
                <div class="stack-row gap-5">
                    <button type="button" class="btn btn btn-primary">Save</button>
                    <button type="button" class="btn btn icon">
            <span>Preview</span>
            <i class="fa fa-angle-right"></i>
          </button>
                </div>
            </div>
        </app-ui-card>
    </div>
    <div class="col-lg-4 stack gap-20">
        <app-ui-card>
            <h2 class="card-title">Basic Info</h2>
            <div class="stack gap-40 mlr-40">
                <div class="stack-item">
                    <h6>Category</h6>
                    <app-ui-select label="Select Category"></app-ui-select>
                </div>
                <div class="stack-item">
                    <h6>Date</h6>
                    <app-ui-dropdown text="Select Date" icon="ri-calendar-2-line">
                        <app-ui-datepicker></app-ui-datepicker>
                    </app-ui-dropdown>
                </div>
                <div class="stack-item">
                    <h6>Author</h6>
                    <app-ui-select [data]="authors" label="Select Author"></app-ui-select>
                    <p>Add another Author</p>
                </div>
            </div>
        </app-ui-card>
        <app-ui-card>
            <h2 class="card-title text-dark">Additional</h2>
            <div class="stack gap-15 mt-30 mb-30">
                <button type="button" class="btn icon">
          <i class="ri-add-line"></i>
          <span>Add cover Image</span>
        </button>
                <button type="button" class="btn icon">
          <i class="ri-add-line"></i>
          <span>Add Linked Files</span>
        </button>
            </div>
        </app-ui-card>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card w-100">
            <div class="card-body">
                <h2 class="card-title">Summary</h2>
            </div>
        </div>
    </div>
</div>