<app-ui-block>
    <app-ui-card>
        <app-ui-button></app-ui-button>
    </app-ui-card>
    <app-ui-card>
        <app-ui-list [data]="users" icon="angle-right"></app-ui-list>
    </app-ui-card>
</app-ui-block>

<app-ui-block title="Form Component">
    <app-ui-form></app-ui-form>
</app-ui-block>

<div class="row mt-4">
    <div class="col-sm-8">
        <app-ui-card>
            <h2 class="card-title">New Content</h2>
            <ckeditor [editor]="Editor" [data]="content" (change)="onChange($event)"></ckeditor>
            <div class="d-flex flex-row-reverse">
                <div>

                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-light">
                       
                       Preview
                       <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>
        </app-ui-card>
    </div>
    <div class="col-sm-4">
        <app-ui-card>
            <h2 class="card-title">Basic Info</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum totam quis fugit officiis repellat itaque sequi pariatur molestias dolore dolor ipsum magnam sit, quod quidem, cum odit tempora esse excepturi?</p>
        </app-ui-card>
        <app-ui-card>
            <h2 class="card-title text-dark">Additional</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum totam quis fugit officiis repellat itaque sequi pariatur molestias dolore dolor ipsum magnam sit, quod quidem, cum odit tempora esse excepturi?</p>
        </app-ui-card>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card w-100">
            <div class="card-body">
                <h2 class="card-title">Summary</h2>
            </div>
        </div>
    </div>
</div>