<div class="nav-wrap">
    <div class="split">
        <a routerLinkActive="active" routerLink="./" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/company-logo.svg" />
        </a>
        <div class="stack-row gap-20">
            <a routerLinkActive="active" routerLink="./author">Author</a>
            <a routerLinkActive="active" routerLink="./publications">Publications</a>
        </div>
    </div>
</div>
<div class="layout">
    <div class="sidebar"></div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>