<div class="mt-4">
    <div class="row">
        <div class="col-lg-2">
            <h4 class="card-title">Icons</h4>
            <p>Implementation and referenc to Remix Icon Library.</p>
        </div>
        <div class="col-lg-10">
            <app-ui-card>
                <app-style-icon></app-style-icon>
            </app-ui-card>
        </div>
    </div>
</div>
<div class="mt-4">
    <div class="row">
        <div class="col-lg-2">
            <h4 class="card-title">Buttons</h4>
            <p>
                Based on Bootstrap class names, all button styles are controled from the buttons.scss file in the src dir. Controls Sizing, layout variants, sizing, color and typograhy.
            </p>
        </div>
        <div class="col-lg-10">
            <app-ui-card>
                <app-style-button></app-style-button>
            </app-ui-card>
        </div>
    </div>
</div>