<style>
    .nav-item {
        font-family: "Open Sans";
        font-size: 12px;
        border-bottom-color: black;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
    }
    
    .nav-item:not(.active) {
        border-bottom-color: transparent;
    }
    
    .nav-item.nav-link.active {
        background: transparent;
        font-weight: bolder;
        border-bottom-color: black;
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
    }
</style>
<div class="container">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLinkActive="active" routerLink="./" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="./authoring"
          [routerLinkActiveOptions]="{ exact: true }"
          >Authoring</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="./revisions"
          [routerLinkActiveOptions]="{ exact: true }"
          >Revisions</a
        >
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>