// 0 = default, 1 = primary
//background color
$btn-background-0: #e7eef6;
$btn-background-1: #00499e;
//background color :hover
$btn-background-hover-0: #b9cfe8;
$btn-background-hover-1: #002357;
//text color
$btn-color-0: #00499e;
$btn-color-1: #f7f7f7;
//disabled
$btn-background-disabled: #e1e1e1;
$btn-color-disabled: #b1b1b1;
$btn-color-gray: #9e9e9e;
$btn-color-gray-light: #f6f6f6;
$btn-color-black: #444;
.btn:not([class*="outline"]) {
    font-family: "Inter";
    border: none;
    white-space: nowrap;
    background-color: $btn-background-0;
    color: $btn-color-0;
    font-size: 16px;
    padding: 14px 32px;
    line-height: 1em;
    border: 1px solid transparent;
    border-radius: 6px;
    &:hover {
        background-color: $btn-background-hover-0;
        color: $btn-background-1;
    }
    &.btn-primary {
        background-color: $btn-background-1;
        color: $btn-color-1;
        &:hover {
            background-color: $btn-background-hover-1;
        }
        &:active {
            background-color: $btn-background-hover-1 !important;
        }
        &:disabled {
            background-color: $btn-background-disabled;
            border-color: $btn-background-disabled;
            color: $btn-color-disabled;
        }
    }
    &.btn-lg {
        font-size: 18px;
        padding: 20px 48px;
    }
    &.btn-sm {
        font-size: 14px;
        padding: 8px 12px;
    }
    &.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        &>span,
        &>i {
            display: block;
            margin: 0 4px;
        }
        &>div {
            display: flex;
            align-items: center;
            justify-content: center;
            &>i {
                font-size: 20px;
                display: block;
                margin: 0 12px 0 4px;
            }
        }
    }
    &:disabled {
        background-color: transparent;
        border: 1px solid $btn-color-disabled;
        color: $btn-color-disabled;
    }
    &.split {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.btn.outline {
    color: $btn-color-black;
    background-color: transparent !important;
    border-color: $btn-color-gray;
    &:hover {
        color: $btn-color-black;
        background-color: $btn-color-gray-light !important;
        border-color: $btn-color-gray;
    }
    &:active {
        color: $btn-color-black !important;
        border-color: $btn-color-gray !important;
    }
}