/* You can add global styles to this file, and also import other style files */

$shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12),
0px 4px 15px -2px rgba(24, 39, 75, 0.08);
$body-bg: #000;
$body-color: #111;
$brand-primary: #1a3968;
$button-primary: #00499e;
$link-primary: #00499e;
$color-white: #fcfcfc;
$color-dark-blue: #002357;
$color-soft-blue: #e7eef6;
$color-off-white: #f7f7f7;
$color-gray: #666;
$color-header-primary: #002357;
//$nav-tabs-link-active-border-color:'inherit';
body {
    background-color: $color-white;
}

a:link,
a:visited,
a:hover {
    color: $link-primary;
}

.btn {
    &.btn-primary {
        background-color: $button-primary;
    }
    &.btn-light {
        color: $button-primary;
        background-color: $color-soft-blue;
    }
    &.btn-outline-light {
        color: $color-gray;
        border-color: $color-gray;
    }
    &.btn-outline-primary {
        color: $button-primary;
        border-color: $button-primary;
    }
}

.card {
    box-shadow: $shadow;
    border-radius: 6px;
}

.card-body {
    background-color: $color-white;
    padding: 1rem;
}

.card-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $color-dark-blue;
}

.nav-wrap {
    padding: 40px;
    background: $color-off-white;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.split {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

//Dropdown
.dropdown-menu {
    box-shadow: $shadow;
}

// INPUT BUTTONS
.input-group.button {
    .form-control {
        border-left: none;
        border-right: none;
    }
    .input-group-prepend .input-group-text {
        border-right: none;
        background-color: rgba(0, 0, 0, 0);
    }
    .input-group-append .input-group-text {
        border-left: none;
        background-color: rgba(0, 0, 0, 0);
    }
    input[type="button"] {
        outline: none;
        pointer-events: none;
    }
}